<ion-view view-title="优惠券" hide-tabs="true">
  <ion-content class="bgbg">
    <div class="row" >
      <div class="col" style="padding-left: 20px;padding-right: 20px;">
        <a class="item item-image">
          <img id="pic1"  src="img/5.png"  ng-click="disChange1()" style="height: 80%">
        </a>
      </div>
    </div>
    <div class="row" >
      <div class="col" style="padding-left: 20px;padding-right: 20px;">
        <a class="item item-image">
          <img id="pic2"  src="img/10.png"  ng-click="disChang2()" style="height: 80%">
        </a>
      </div>
    </div>
    <div class="row" >
      <div class="col" style="padding-left: 20px;padding-right: 20px;">
        <a class="item item-image">
          <img id="pic3"  src="img/20.png"  ng-click="disChange3()" style="height: 80%">
        </a>
      </div>
    </div>
    <div class="row" >
      <div class="col" style="padding-left: 20px;padding-right: 20px;">
        <a class="item item-image">
          <img id="pic4"  src="img/40.png"  ng-click="disChange4()" style="height: 80%">
        </a>
      </div>
    </div>
    <div class="row" >
      <div class="col" style="padding-left: 20px;padding-right: 20px;">
        <a class="item item-image">
          <img id="pic5"  src="img/100.png"  ng-click="disChange5()" style="height: 80%">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
