<ion-view view-title="申请试吃" hide-tabs="true">
  <ion-content class="bgbg">
    <div class="list card" ng-repeat="freeG in freeGs" style="top:-10px;">
      <div class="row" style="top:-20px;">
        <div class="col col-34">
          <a class="item item-image">
            <img src="{{freeG.src}}" style="width: 100px;height: 100px;">
          </a>
        </div>
        <div class="col col-40">
          <a class="item">
            <p >{{freeG.bt}}</p>
            <div style="position:relative">
              <img src="img/sheng.png" style="width: 70px;padding-top: 8px;"/>
              <p class="text-center" style="position:absolute;z-indent:2;left:6px;top:5px; color: white;font-size: x-small;padding-left: 5px;">
                {{freeG.limit}}
              </p>
            </div>
            <p style="padding-top: 8px;color:#ef473a">{{freeG.price}}</p>
          </a>
        </div>
        <div class="col col-25 text-right" style="padding-top: 65px">
          <a class="button button-icon button-outline button-assertive button-small" ng-click="useFree()">立即试用</a>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
