<ion-view hide-nav-bar="true" hide-tabs="true">
  <div class="bar bar-header">
    <button class="button button-small button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="h1 title">冰皮冰皮</div>
    <button class="button button-icon button-clear ion ion-bag" style="color: #ef473a;" ng-click="goShop()"></button>
  </div>
  <div class="tabs">
    <div class="col col-20">
      <div class="tab-item pull-left" style="margin-top:-5px;">
        <a ng-click="goTalk()"><i class="ion ion-happy-outline" style="color:#ef473a"></i> <span class="bt_font">咨询</span></a>
      </div>
    </div>
    <div class="col col-20" style="padding-right: 110px;">
      <div class="tab-item pull-left" style="margin-top:-5px;">
        <a ><i class="ion ion-ios-cart-outline" style="color:#ef473a"></i> <span class="bt_font">购物车</span></a>
      </div>
    </div>
    <div class="tab-item pull-right">
      <button class="button button-full button-assertive button-small "  style="border-radius: 100px;bottom: 2px;width: 150px;">加入购物车</button>
    </div>
  </div>
  <ion-content class="bgbg">
    <div style="background: #FFFFFF">
      <!--<div class="item item-image">
        <img ng-src="img/cake1.png">
      </div>-->
      <ion-slide-box auto-play="true"   slide-interval=2000  does-continue="true" delegate-handle="slideimgs"
                     class="slidebox"  on-slide-changed="slideHasChanged($index)" style="margin-top: -1px;">
        <ion-slide>
          <div class="box banner"><img style="width: 100%;height: 250px" src="img/tea1.jpg" /></div>
        </ion-slide>
        <ion-slide>
          <div class="box banner"><img style="width: 100%;height: 250px" src="img/tea2.jpg" /></div>
        </ion-slide>
        <ion-slide>
          <div class="box banner"><img style="width: 100%;height: 250px" src="img/tea3.jpg" /></div>
        </ion-slide>
      </ion-slide-box>
      <div class="row">
        <div class="col col-40">
          <p class="bt_font">抹茶冰皮</p>
          <h4 class="product-fontSize">Matcha ice skin cake</h4>
        </div>
      </div>
      <div class="row">
        <div class="col col-33">
          <p class="bt_font" style="color:#ef473a">￥45.00</p>
        </div>
        <div class="col col-67">
          <p class="bt_font text-right" style="color:#ef473a">甜度:<i class="icon ion-android-favorite assertive"></i><i class="ion ion-android-favorite-outline"></i><i class="ion ion-android-favorite-outline"></i><i class="ion ion-android-favorite-outline"></i><i class="ion ion-android-favorite-outline"></i></p>
        </div>
      </div>
      <hr  style="height:1px;border:none;border-top:1px solid #efeff4;"/>
      <div class="row">
        <div class="col col-60 bt_font" style="color:#a1b247">
          <p>清香引风吹不散</p>
          <p>冰雕浮光凝表面</p>
          <p>口感冰凉爽口</p>
          <p>耐人寻味</p>
        </div>
      </div>
    </div>
    <div class="list" style="background: #FFFFFF;margin-top: 10px; ">
      <a class="item row" href="#" style="border-top-style: none">
        <div class="col col-20">
          <p class="product-fontSize" style="color:#a7a6a4;">运费</p>
        </div>
        <div class="col col-60">
          <p>本商品满299或两件包邮</p>
        </div>
        <div class="col col-20 text-right">
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </a>
      <a class="item row" style="border-bottom-style:none">
        <div class="col col-20">
          <p class="product-fontSize" style="color:#a7a6a4;">说明</p>
        </div>
        <div class="col col-60" >
          <p><i class="ion ion-android-checkmark-circle" style="color:#ef473a"></i> <span class="font_y"> 6小时内发货</span>  <i class="ion ion-android-checkmark-circle" style="color:#ef473a"></i> <span class="font_y">发货后1-3天到达</span></p>
          <p><i class="ion ion-android-checkmark-circle" style="color:#ef473a"></i> <span class="font_y">0-4℃冷藏</span></p>
        </div>
        <div class="col col-20 text-right">
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </a>
    </div>
    <div class="list" style="background: #FFFFFF;border-top-style: none;border-bottom-style:none;margin-top: -10px;">
      <a class="item row">
        <div class="col col-20">
          <p class="product-fontSize" style="color:#a7a6a4;">规格</p>
        </div>
        <div class="col col-60">
          <p>2.0磅(约4-7人食用)</p>
        </div>
        <div class="col col-20 text-right">
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
