<ion-view hide-nav-bar="true" cache-view="false">
  <ion-header-bar style="top:0">
    <div class="buttons">
      <button class="button button-clear icon ion-ios-arrow-left button-dark" ng-click="rollback()"></button>
    </div>
    <h1 class="title">找回密码</h1>
  </ion-header-bar>
  <ion-content class="scroll-content has-header bgbg">
    <form name="signUpForm">
      <div class="list list-inset">
        <div class="form-group" ng-class="{'has-success':signUpForm.phoneNum.$valid}">
        <label class="item item-input">
        <input name="phoneNum"
               id="phone"
               type="number"
               placeholder="手机号"
               class="form-control"
               ng-model="user.phoneNum"
               ng-maxlength="11"
               required>
        <i class="ion ion-checkmark" style="padding-right: 10px;" ng-if="signUpForm.phoneNum.$valid"></i>
        </label>
        <div>
          <p class="error" ng-if=" signUpForm.phoneNum.$error.required&&
                                 signUpForm.phoneNum.$touched">
            手机号不可为空
          </p>
          <p class="error" ng-if="(signUpForm.phoneNum.$error.minlength||
                                 signUpForm.phoneNum.$error.maxlength)&&
                                 signUpForm.phoneNum.$touched">
            手机号长度应在4至11之间
          </p>
        </div>
        </div>
      <div class="form-group" ng-class="{'has-success':signUpForm.validCode.$valid}">
      <label class="item item-input">
        <input type="text"
               placeholder="请输入验证码"
               name="validCode"
               placeholder="验证码"
               class="form-control"
               ng-model="$parent.validCode"
               maxlength="6"
               required
               style="padding-right: 5px"/>
        <timerbutton id="code" show-timer="true" timeout="time"style="min-width: 70px;padding-right: 10px" ></timerbutton>
        <i class="ion ion-checkmark" style="padding-right: 10px;" ng-if="signUpForm.validCode.$valid"></i>
      </label>
        <div>
          <p class="error" ng-if=" signUpForm.validCode.$error.required&&
                                 signUpForm.validCode.$touched">
            请填入验证码
          </p>
        </div>
      </div>
        <div class="form-group" ng-class="{'has-success':signUpForm.password.$valid}">
          <label class="item item-input">
            <input name="password"
                   id="pass"
                   type="password"
                   placeholder="密码"
                   class="form-control"
                   ng-model="user.password"
                   ng-minlength="6"
                   ng-maxlength="255"
                   required>
            <i class="ion ion-checkmark" style="padding-right: 10px;" ng-if="signUpForm.password.$valid"></i>
          </label>
          <div class="warning_y">
            <p class="error" ng-if=" signUpForm.password.$error.required&&
                                 signUpForm.password.$touched">
              输入密码不能为空
            </p>
            <p class="error" ng-if="(signUpForm.password.$error.minlength||
                                 signUpForm.password.$error.maxlength)&&
                                 signUpForm.password.$touched">
              输入密码长度应在6-255之间
            </p>
          </div>
        </div>
    </div>
    <button ng-disabled="confirm" class="button button-block button-assertive" ng-click="resetPassword()" >确认</button>
    </form>
  </ion-content>
</ion-view>
