<ion-view view-title="蛋糕分类">
  <ion-content class="bgbg" scroll="false" >
    <div class="list">
      <div class="item row" style="border-top-style: none">
        <div class="col col-50 text-center" ng-click="goCake()" style=" border-right: 1px solid #ddd;padding:30px 0 30px 0">
          <img src="img/cheesecake.png" width="25%">
          <p style="padding-top: 15px">芝士蛋糕</p>
        </div>
        <div class="col col-50 text-center "ng-click="goCake()" style="padding:30px 0 30px 0">
          <img src="img/chocolate.png" width="25%">
          <p style="padding-top: 15px">甜甜圈</p>
        </div>
      </div>
      <div class="item row">
        <div class="col col-50 text-center "ng-click="goCake()" style=" border-right: 1px solid #ddd;padding:30px 0 30px 0">
          <img src="img/ice.png" width="25%">
          <p style="padding-top: 15px">冰淇淋味</p>
        </div>
        <div class="col col-50 text-center"ng-click="goCake()" style="padding: 30px 0 30px 0">
          <img src="img/pie.png" width="25%">
          <p style="padding-top: 15px">水果派</p>
        </div>
      </div>
      <div class="item row">
        <div class="col col-50 text-center"ng-click="goCake()" style=" border-right: 1px solid #ddd;padding: 30px 0 30px 0">
          <img src="img/panacotta.png" width="25%">
          <p style="padding-top: 15px">慕斯蛋糕</p>
        </div>
        <div class="col col-50 text-center"ng-click="goCake()" style="padding: 30px 0 30px 0">
          <img src="img/fruitcake.png" width="25%">
          <p style="padding-top: 15px">鲜果蛋糕</p>
        </div>
      </div>
      <div class="item row" style="border-bottom-style: none">
        <div class="col col-50 text-center "ng-click="goCake()" style=" border-right: 1px solid #ddd;padding: 30px 0 30px 0">
          <img src="img/cupcake.png" width="25%">
          <p style="padding-top: 15px">纸杯蛋糕</p>
        </div>
        <div class="col col-50 text-center "ng-click="goCake()" style="padding: 30px 0 30px 0">
          <img src="img/daifuku.png" width="25%">
          <p style="padding-top: 15px">小甜点</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
